


<div class="jumbotron jumbotron-fluid bg-danger text-white">
  <div class="container">
    <h1 class="display-4">My Awesome Website</h1>
    <p class="lead">Welcome to my website!</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="https://via.placeholder.com/300x200.png?text=Card+Image" alt="Card image">
        <div class="card-body">
          <h3 class="card-title">Card Title</h3>
          <p class="card-text short-description">This is a short description of the card.</p>
          <p class="card-text full-description">This is the full description of the card. It can be longer than the short description and contain more details about the card.</p>
          <a href="#" class="btn btn-primary learn-more">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
