// Styles for navbar-brand element
@media (min-width: 768px) {
    .navbar-brand {
      position: absolute;
      left: 15px;
      top: 0;
      bottom: 0;
      height: 35px;
      margin: auto;
    }
  }
  
  @media (max-width: 767.98px) {
    .navbar-brand {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      bottom: 0;
      height: 35px;
      margin: auto;
    }
  }
  
